
.contact_button:hover{
    background-color: #A1E0E0 !important;
    color: #000;
}


@media (max-width: 576px)
{
.banner1 
 {
   
   width:100% ;
  height: calc(100vh - 50vh);
  scroll-snap-align: start;
 }
 
 
 .text{
     margin-top: 10%;
     margin-left: 18%;
     
   
 }
 .text h4{
     margin-top: 2%;
     font-size: 4vw;
 }
.text h3{
    font-size: 4vw;
    font-weight: 700;
}
 .text h1{
    font-size: 6vw;
    font-weight: 700;
}
h3 span{
    color: rgb(250, 4, 4);
    margin-left: 1%;
    font-size: 4vw;
}
.contact-btn{
    width: 40%;
    height: 20%;
    margin-top: 3%;
    margin-left: 17%;
    background-color: rgb(2, 44, 51);
    color: #ffffff;
}
 .img{
    margin-top: 17%;
    width: 100%;
    height: 20rem;
    
}
}



@media (min-width: 577px) and (max-width: 900px)
{
.banner1 
 {
   
   width:100% ;
  height: calc(100vh - 60vh);
  scroll-snap-align: start;
 }
 
 
 .text{
     display: flex;
     flex-direction: column;
     margin-top: 50%;
     margin-left: 10%;
     
   
 }
 .text h4{
     margin-top: 2%;
     font-size: 3vw;
 }
.text h3{
    font-size: 3vw;
    font-weight: 700;
}
 .text h1{
    font-size: 4vw;
    font-weight: 700;
}
h3 span{
    color: rgb(250, 4, 4);
    margin-left: 1%;
    font-size: 3vw;
}
.contact-btn{
    width: 40%;
    height: 14%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgb(2, 44, 51);
    color: #ffffff;
}
 .img{
    margin-top: 17%;
    width: 50%;
    height: 20rem;
    position: absolute;
}
}



@media (min-width: 901px) and (max-width: 1500px)
{
.banner1 
 {
   overflow: hidden;
   width:100% ;
  height: calc(100vh - 30vh);
  scroll-snap-align: start;
 }
 .row{
 
    overflow: hidden;
 }
 
 

 .text h4{
     margin-top: 2%;
     font-size: 2vw;
 }
.text h3{
    font-size: 1.5vw;
    font-weight: 700;
}
 .text h1{
    font-size: 3vw;
    font-weight: 700;
}
h3 span{
    color: rgb(250, 4, 4);
    margin-left: 1%;
    font-size: 1.5vw;
}
.contact-btn{
    width: 30%;
    height: 10%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgb(2, 44, 51);
    color: #ffffff;
}
 .img{
    margin-top: 17%;
    width: 100%;
}
}


@media (min-width: 1501px) and (max-width: 2100px)
{
.banner1 
 {
   overflow: hidden;
   width:100% ;
  height: calc(100vh - 40vh);
  scroll-snap-align: start;
 }
 
 .text{
     margin-top: 30%;
     margin-left: 10%;
 }

 .text h4{
     margin-top: 2%;
     font-size: 2vw;
 }
.text h3{
    font-size: 1.5vw;
    font-weight: 700;
}
 .text h1{
    font-size: 3vw;
    font-weight: 700;
}
h3 span{
    color: rgb(250, 4, 4);
    margin-left: 1%;
    font-size: 1.5vw;
}
.contact-btn{
    width: 30%;
    height: 10%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgb(2, 44, 51);
    color: #ffffff;
}
 .img{
    margin-top: 17%;
    width: 100%;
}
}