nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 1, 24);
  border-bottom: 1px solid #fff;
  margin-bottom: 0%;
}
.logo{
  font-size: 2.5vw;
  font-weight: 700;
  color: #fff;
  margin-left: 5%;
}
.list{
  margin-top: 2%;
  margin-bottom: 2%;
}
.list li{
  display: inline-block;
  list-style: none;
}
.list li a{
  color: white;
    font-size: 17px;
    padding: 15px 13px;
    border-radius: 3px;
    text-decoration: none;
  
    text-transform: uppercase;
}
.list li a:hover{
  background-color: red;
}
.active{
  background-color: red;
}
.checkbtn{
  display: none;
  font-size: 4vw;
  color: #fff;
  margin-right: 4%;
}
#check{
  display: none;
}

@media (min-width:401px) and (max-width:900px)
{
  .logo{
    font-size: 6vw;
  }
  .checkbtn{
    display: block;
  }
  .list{
   position: fixed;
   top: 60px;
   left: -73%;
   width: 70%;
   height: 100vh;
   z-index: 999;
   background-color: rgb(29, 13, 13);
   
  }
  .active{
    margin-top: 20%;
  }
.list li{
  display: block;
  margin-top: 7%;
}
.list li a{
  font-size: 17px;
    padding: 15px 40%;
    border-radius: 3px;
    text-decoration: none;
  font-size: 4vw;
    text-transform: uppercase;
}
  

}


@media (max-width:400px)
{
  nav{
    padding: 1rem 0rem;
  }
  
  .logo{
    margin-left: 4%;
    font-size: 7vw;
  }
  .checkbtn{
    display: block;
    font-size: 6vw;
  }
  .list{
   position: absolute;
   top: 4.2%;
   left: -90%;
   width: 90%;
   height: 100vh;
   z-index: 999;
   background-color: rgb(29, 13, 13);
   
  }
  .list2{
    left: 0;
  }
.list li{
  display: block;
  margin-top: 15%;
}
.list li a{
  font-size: 17px;
    padding: 15px 40%;
    border-radius: 3px;
    text-decoration: none;
  font-size: 4vw;
    text-transform: uppercase;
}
  

}