.portfolio{
    display: flex;
    align-items: center;
   flex-direction: column;
   width:100% ;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.portfolio h1{
    font-size: 3vw;
    font-weight: bold;
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

@media (max-width:576px)
{
    .portfolio{
        height: 100rem  !important;
    }

    .portfolio h1{
        font-size: 8vw;
     }
}

@media (min-width:577px) and (max-width:770px)
{
    .portfolio{
        height: 100rem  !important;
    }

    .portfolio h1{
        font-size: 6vw;
     }
}

@media (min-width:771px) and (max-width:1000px)
{
    .portfolio{
        height: 110vh ;
    }

    .portfolio h1{
        font-size: 6vw;
     }
}

@media (min-width:1001px) and (max-width:1500px)
{
    .portfolio{
        height: 115vh ;
    }

    .portfolio h1{
        font-size: 4vw;
     }
}
@media (min-width:1501px) and (max-width:2100px)
{
    .portfolio{
        height: 100vh ;
    }

    .portfolio h1{
        font-size: 3vw;
     }
}

.navpills{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.portfolio .navpills li{
    padding: .7rem 3rem;
    background-color: #022C33;
    margin: .2rem ;
    border-radius: 5%;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}
.portfolio .navpills .active{
    background-color: #8CD603;
}
.container1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.item .card{
    border-radius: 2%;
    margin: 5%;
    padding-bottom: 3%;
    width: 24rem;
    box-shadow: 2px solid red;
}
.item .card img{
    object-fit: cover;
    width: 95%;
    height: 100%;
    border-radius: 2%;
}
.item .card h5,p{
    margin-left: 3%;
    
}
.item_hover:hover{
    transform: scale(1.1);
    transition: .2s ease;
}