.app{

   height: 100vh;
}
.section{
  width:100% ;
  height: calc(100vh - 70px);
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -webkit-scrollbar : none;
  scroll-behavior: smooth;
  position: relative;
  top: 80px;
}
